<div id="new_trip_button">
  <h4>Create a new trip</h4>
  <a href="/#!/trips/new" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
</div>

<table ng-init="TC.getTrips()" ng-show="TC.trips.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Date</th>
    </tr>
  </thead>
  <tr ng-repeat="trip in TC.trips">
    <td>{{trip.name}}</td>
    <td>{{trip.city}}</td>
    <td>{{trip.country}}</td>
    <td>{{trip.date}}</td>
    <td>
      <a href="/#!/trips/{{trip._id}}">Show</a>

    </td>
    <td>

    </td>
  </tr>
</table>
